<!doctype html>
<html>

<main class="mainaanmakenproject">



            <form class="algemenesectie" action="/Code-map/controllers/Controlaanmakenportfolio.php" method="post" >

            <section class="invulveldentexten">

                <!-- pagina titel invullen -->
                <input class="invulpaginanaam" type="text" placeholder="Vul hier de pagina titel in" name="titelpagina">


                <!-- Toelichting op project-->
                <textarea class="grootinvulveld" placeholder="Schrijf hier je artikel" name="Projectbeschrijving"></textarea>

                <article class="containerdatum" name="Projectbeschrijving" >

                    <!-- Publicatie datum invoeren -->
                    <label>Publicatiedatum</label>

                    <input type="date" placeholder="Vul hier de publicatiedatum in" name="publicatiedatum">

                </article>
            </section>


            <section class="toevoegenafbeeldingen">

                <article class="sectionafbeeldingentoe">

                    <span class="titelproject">
                    <h3> Afbeeldingen van het project</h3>
                    </span>

                    <span class="inputafbeeldingen">
                        <!-- Afbeelding ter toelichting op  -->
                        <input class="inputbestanden" type="file" accept="image/*" name="afbeelding1">

                        <!-- Afbeelding ter toelichting op  -->
                        <input class="inputbestanden" type="file" accept="image/*" name="afbeelding2">

                        <!-- Afbeelding ter toelichting op  -->
                        <input class="inputbestanden" type="file" accept="image/*" name="afbeelding3">

                        <!-- Afbeelding ter toelichting op  -->
                        <input class="inputbestanden" type="file" accept="image/*" name="afbeelding4">
                    </span>

                </article>

            </section>

            <section class="projectopslaan">
                <article class="knopcontainer">
                <!-- Bestanden worden opgeslagen -->
                    <input class="knopop" type="submit" value="Opslaan">
                </article>
        </section>

        </form>

</main>
</html>