<!doctype html>
<html>
<main>

    <section>

        <!-- pagina titel invullen -->
        <input type="text" placeholder="Vul hier de pagina titel in">

        <!-- Toelichting op project-->
        <input type="text" placeholder="Vul hier de project beschrijving in">

        <!-- Publicatie datum invoeren -->
        <input type="date" placeholder="Vul hier de publicatiedatum in">

        <!-- Afbeelding ter toelichting op  -->
        <input type="image" alt="Voeg afbeelding toe van project">

        <!-- Afbeelding ter toelichting op  -->
        <input type="image" alt="Voeg afbeelding toe van project">

        <!-- Afbeelding ter toelichting op  -->
        <input type="image" alt="Voeg afbeelding toe van project">

        <!-- Afbeelding ter toelichting op  -->
        <input type="image" alt="Voeg afbeelding toe van project">

        <!-- Bestanden worden opgeslagen -->
        <input type="submit" value="Opslaan">

    </section>

</main>
</html>