<!doctype html>
<html>
<main class="mainbedank">

    <section class="Paginatitelcontainerbedank">

        <article class="Paginatitelbedank">


            <h2>Bedank voor je bericht! !naam van persoon zetten??! </h2>

        </article>

    </section>


    <!-- Teamfoto ProcodeX -->
    <section class="Contentcontainerbedank">


        <div class="Tekstenknopcontainerbedank">

            <article class="textvakbedank">

                <p class="textcontainerbedank">
                    Bij ProcodeX geloven we in de kracht van technologie om bedrijfsprocessen te transformeren en te optimaliseren. Wij zijn een team van gedreven professionals met een passie voor slimme softwareoplossingen die bedrijfsdoelen versnellen. Met jarenlange ervaring in IT en een scherp oog voor innovatie, ontwikkelen wij maatwerksoftware die naadloos aansluit bij de unieke behoeften van onze klanten.

                    Onze missie is om technologie toegankelijk en effectief te maken voor bedrijven van elke omvang. Van het stroomlijnen van werkprocessen tot het vergroten van de digitale slagkracht – bij ProcodeX zijn we vastberaden om onze klanten vooruit te helpen in een snel veranderende wereld.
                </p>

            </article>

        </div>

        <article class="Fotocontainerbedank">

            <img class="fotobedank" src="/Code-map/views/afbeeldingen/Lennart%20en%20Wim%20-%20team%20digital-9.jpg" alt="Teamfoto ProcodeX">

        </article>






    </section>
</main>


</html>