<!doctype html>
<html>
    <main class="Bedankmain">



        <section class="Sectiebedank">

                <article class="Paginatitelcontainerbedank" >

                    <!-- Pagina titel -->
                    <h2 class="Paginatitel">We laten van ons horen</h2>

                </article>




            <!-- persoon die zojuist informatie heeft opgevraagd informeren over het vervolgproces -->
            <article class="textvakbedank">

                <p class="textcontainerbedank">
                    Hartelijk dank voor het invullen van je gegevens en je interesse in Procodex! We hebben je informatie ontvangen en staan te popelen om met je in contact te komen. Ons team zal zo snel mogelijk contact met je opnemen om je vraag te beantwoorden of de mogelijkheden te bespreken.

                    Heb je ondertussen nog vragen of wil je alvast een indruk krijgen van ons werk? Neem gerust een kijkje op onze website of volg ons op social media voor de laatste updates.

                </p>
            </article>

        <section>




    </main>
</html>