<!doctype html>
<html>
    <main class="mainbedank">


            <section class="Paginatitelcontainerbedank">

                <article class="Paginatitelbedank">

                    <!-- pagina titel -->
                    <h2>Bedank voor je informatie aanvraag!</h2>

                </article>

            </section>



            <section class="Contentcontainerbedank">


                <div class="Tekstenknopcontainerbedank">

                        <article class="textvakbedank">

                                 <!-- Text om website bezoeker die informatie heeft opgevraagd bedanken en vertellen hoe het verder gaat -->
                                <p class="textcontainerbedank">
                                 Bedankt voor uw interesse in ProcodeX en voor het invullen van ons contactformulier. We hebben uw aanvraag voor meer informatie ontvangen en waarderen uw moeite om contact met ons op te nemen.

                                 Ons team is momenteel bezig met het bekijken van uw verzoek en zal zo snel mogelijk contact met u opnemen om al uw vragen te beantwoorden. We zijn enthousiast om u te helpen en om de mogelijkheden voor samenwerking te verkennen.

                                 Mocht u in de tussentijd verdere vragen hebben of aanvullende informatie nodig hebben, aarzel dan niet om contact met ons op te nemen. We staan klaar om u te ondersteunen.
                                </p>

                        </article>

                </div>

            </section>

    </main>


</html>