<!doctype html>
<html>
    <main class="maincontact">


        <section class="Paginatitelcontainercontact">

                <article class="Paginatitel">

                    <!-- Pagina titel -->
                    <h2>Laten we in gesprek gaan!</h2>

                </article>

        </section>




            <!-- Contact gegevens -->
            <section class="Sectionforminfo">

                <form class="Infoform" action="/Code-map/controllers/Controlcontact.php" method="post">

                    <article class="contactgegevens">

                        <!-- Contact gegeven naam -->
                            <input class="inputstyle" type="text" placeholder="Naam" name="Naam">

                            <!-- Contact e-mail -->
                            <input class="inputstyle" type="email" placeholder="E-mail" name="Email">

                            <!-- Contact telefoonnummer -->
                            <input class="inputstyle" type="tel" placeholder="Telefoonnummer" name="Telefoonnummer">


                    </article>

                        <!-- Informatie tekst over ProcodeX -->
                        <article class="Containtextarea" >

                            <textarea name="Aanvullende_info" class="textareacontact" placeholder="Laat ons weten waar je meer informatie over wilt ontvangen..."></textarea>

                            <section class="containerinputknop">

                            <input class="knopinput" type="submit" >

                            </section>
                        </article>

                </form>

            </section>



    </main>
</html>