<!doctype html>
<html>
    <main>

        <!-- pagina titel -->
        <h2>Pagina titel</h2>

        <!-- Contact gegevens -->
        <section>

            <!-- Contact gegeven naam -->
            <input type="text" placeholder="Naam">

            <!-- Contact e-mail -->
            <input type="email" placeholder="Email">

            <!-- Contact telefoonnummer -->
            <input type="tel" placeholder="Telefoonnummer">

            <!-- Groot tekstblok om bericht acher te laten-->
            <input type="text" placeholder="Laat hier je bericht achter">

            <!-- Submit knop-->
            <input type="submit" value="Verzenden">

        </section>



    </main>
</html>