<!doctype html>
<html>
<main class="maindetailproject">

        <div class="sectiedetailproject">

            <section class="paginatitelprojectdetail">

                <article class="articlepaginatiteldetail">

                    <!-- pagina titel -->
                    <h2>Naam van het project</h2>

                </article>

            </section>

            <section class="contentsectiondetail">


                <!-- Verhaal over het proeject -->
                <article class="Articleinfoproject">

                        <p class="textvakproject">
                            persoon die zojuist informatie heeft opgevraagd informeren over het vervolgproces                             persoon die zojuist informatie heeft opgevraagd informeren over het vervolgproces
                            persoon die zojuist informatie heeft opgevraagd informeren over het vervolgproces
                            persoon die zojuist informatie heeft opgevraagd informeren over het vervolgproces
                            persoon die zojuist informatie heeft opgevraagd informeren over het vervolgproces
                            persoon die zojuist informatie heeft opgevraagd informeren over het vervolgproces
                            persoon die zojuist informatie heeft opgevraagd informeren over het vervolgproces
                            persoon die zojuist informatie heeft opgevraagd informeren over het vervolgproces



                        </p>

                </article>


                <article class="fotosectionproject">

                    <span class="fotoproject">
                        <!-- Foto van project -->
                        <img class="Projectfotos" src="/Code-map/views/afbeeldingen/Fotoweb1.png" alt="Project foto">

                        <!-- Foto van project -->
                        <img class="Projectfotos" src="/Code-map/views/afbeeldingen/Fotoweb2.png" alt="Project foto">

                    </span>

                    <span class="fotoproject">
                        <!-- Foto van project -->
                        <img class="Projectfotos" src="/Code-map/views/afbeeldingen/Fotoweb3.png" alt="Project foto">

                        <!-- Foto van project -->
                        <img class="Projectfotos" src="/Code-map/views/afbeeldingen/Fotoweb4.png" alt="Project foto">

                    </span>

                </article>



                <article class="sectionexinfo">


                    <span class="articleknopcont">

                        <!-- Knop naar contact pagina -->
                        <a  class="knopcontactpag" href="">Contact pagina</a>

                    </span>



                    <!-- Datum publiceren project -->
                    <div class="containerclas">

                        <h5 class="pubdatum">datum van project</h5>

                    </div>

                </article>

            </section>



        </div>

</main>
</html>