<!doctype html>
<html>

    <main>

        <!-- pagina titel -->
        <h2>Pagina titel</h2>

        <section>

            <!-- persoon die zojuist informatie heeft opgevraagd informeren over het vervolgproces -->
            <article>
                <p>
                    persoon die zojuist informatie heeft opgevraagd informeren over het vervolgproces
                </p>
            </article>

            <!-- Datum publiceren project -->
            <h6>datum van project</h6>

            <!-- Foto van project -->
            <img src="" alt="Project foto">

            <!-- Foto van project -->
            <img src="" alt="Project foto">

            <!-- Foto van project -->
            <img src="" alt="Project foto">

            <!-- Foto van project -->
            <img src="" alt="Project foto">

        </section>

        <!-- Knop naar contact pagina -->
        <a href="">Contact pagina</a>


    </main>
</html>