<!doctype html>

<html>
    <header>

        <!--- Klikbaar logo -->
        <a href="Controllerhompagina">
            <img src="logotoevoegen" alt="Logo ProcodeX">
        </a>

        <!--- Het menu van de website -->
        <menu>
            <ul>
                <li><a href="">Contact pagina</a></li>
                <li><a href="">Portfolio overzicht</a></li>
                <li><a href="">Over ons</a></li>
                <li><a href="">Admin</a></li>
            </ul>
        </menu>

    </header>
</html>