<!doctype html>

<html>
    <header>

        <!--- Klikbaar logo -->
        <a href="/home">

            <h2 class="logoheader">ProcodeX</h2>
<!--            <img src="logotoevoegen" alt="Logo ProcodeX">-->
        </a>



        <!-- Navigatiemenu -->
        <nav>
            <ul id="IDUL">
                <li><a href="/contact">Contact</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/over-ons">Over ons</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
            <a  class="hamburgermenu" onclick="hamburgermenu()">

                <i class="fa-solid fa-bars"></i>

            </a>
        </nav>






    </header>


    <script src="/Code-map/views/Javscript/jsprojectwebdev.js"></script>


</html>