<!doctype html>

<html>
    <header>

            <!--- Klikbaar logo -->
            <a href="/home">
                    <!--Logo-->
                    <h2 class="logoheader">ProcodeX</h2>

            </a>



            <!-- Navigatiemenu -->
            <nav>
                    <!-- Menu voor dekstop en tablet -->
                    <ul id="IDUL">
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/over-ons">Over ons</a></li>
                        <li><a href="/admin">Admin</a></li>
                    </ul>

                    <!-- Hamburger menu -->
                    <a  class="hamburgermenu" onclick="hamburgermenu()">

                        <i class="fa-solid fa-bars"></i>

                    </a>

            </nav>






    </header>

            <!-- Link naar Javascript voor hamburger menu -->
            <script src="/Code-map/views/Javscript/jsprojectwebdev.js"></script>


</html>