<!doctype html>
<html>
    <main class="mainhome">

        <section class="Links">

            <article class="ArticlLinks">


                <h3>Pro</h3>

            </article>

            <article class="ArticlLinks">

                <h3>Code</h3>

            </article>

        </section>

        <section class="Rechts">


        <article class="articlecontent">

            <div class="ClassSlogan">
                <!-- Slogan van ProcodeX -->
                <h3>De X-factor in softwareontwikkeling</h3>
            </div>

            <div class="ClassKnop">
                <!-- Knop naar portfolio -->
                <a href="/portfolio">Bekijk ons portfolio</a>
            </div>

        </article>




            <article class="articleX">


                <h3>X</h3>

            </article>




        </section>



    </main>
</html>