<!doctype html>
<html>
    <main class="fake">

            <section class="Paginatitelcontainer">

                <article class="Paginasectie">

                    <!-- Pagina titel -->
                    <h2>Dit is ProcodeX</h2>

                </article>

            </section>


            <!-- Teamfoto ProcodeX -->
            <section class="Contentcontainer">

                <div class="Fotocontainer">
                    <article>

                        <img src="nietbekend" alt="Teamfoto ProcodeX">

                    </article>
                </div>

            <!-- Sectie informatie over ProcodeX -->


                <div class="Textcontainer">

                <!-- Informatie tekst over ProcodeX -->
                <article class="Spectext">

                    <span>

                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel orci eu tortor ultricies bibendum. Fusce dictum sapien quis tincidunt interdum. Vivamus nec lectus vitae justo condimentum fermentum. Curabitur imperdiet, orci vel luctus malesuada, lectus lacus posuere eros, in placerat nisl lacus nec justo. Suspendisse pharetra maximus felis et tincidunt. In finibus purus vitae ex pulvinar, sed posuere risus dignissim. Aliquam in consectetur urna, sed iaculis nulla. Nunc eget lacus sed risus iaculis dictum ut sit amet nisi.
                    </p>

                    </span>

                </article>

                    <span class="Knoppencontainer">

                            <article>
                            <!-- Knop naar contact pagina -->
                            <a href="">Contact pagina</a>
                            </article>

                            <article>
                            <!-- Knop naar Portfolio -->
                            <a href="">Portfolio bekijken</a>
                            </article>

                    </span>

                </div>

            </section>


    </main>
</html>