<!doctype html>
<html>
    <main class="fake">

            <section class="Paginatitelcontainer">

                <article class="Paginatitel">

                    <!-- Pagina titel -->
                    <h2>Het team achter ProcodeX</h2>

                </article>

            </section>


            <!-- Teamfoto ProcodeX -->
            <section class="Contentcontainer">

                    <article class="Fotocontainer">

                        <img class="foto" src="/Code-map/views/afbeeldingen/Lennart%20en%20Wim%20-%20team%20digital-13.jpg" alt="Teamfoto ProcodeX">

                    </article>


            <!-- Sectie informatie over ProcodeX -->

                <!-- Informatie tekst over ProcodeX -->
                <article class="textvak">

                    <p class="textcontainer">
                        Bij ProcodeX geloven we in de kracht van technologie om bedrijfsprocessen te transformeren en te optimaliseren. Wij zijn een team van gedreven professionals met een passie voor slimme softwareoplossingen die bedrijfsdoelen versnellen. Met jarenlange ervaring in IT en een scherp oog voor innovatie, ontwikkelen wij maatwerksoftware die naadloos aansluit bij de unieke behoeften van onze klanten.

                        Onze missie is om technologie toegankelijk en effectief te maken voor bedrijven van elke omvang. Van het stroomlijnen van werkprocessen tot het vergroten van de digitale slagkracht – bij ProcodeX zijn we vastberaden om onze klanten vooruit te helpen in een snel veranderende wereld. Samen bouwen we aan de toekomst van jouw bedrijf.
                    </p>



                </article>



            </section>


            <section class="knoppencontainer">



                <article class="Classknoppen">
                    <!-- Knop naar contact pagina -->
                    <a class="knopstyle" href="">Contact pagina</a>

                    <!-- Knop naar Portfolio -->
                    <a class="knopstyle" href="">Portfolio bekijken</a>
                </article>

            </section>
    </main>
</html>