<!doctype html>
<html>
    <main>

        <!-- Teamfoto ProcodeX -->
        <section>
            <img src="nietbekend" alt="Teamfoto ProcodeX">
        </section>

        <!-- Sectie informatie over ProcodeX -->
        <section>

            <!-- Pagina titel -->
            <h2>Pagina titel</h2>

            <!-- Informatie tekst over ProcodeX -->
            <article>
                <p>
                    Achtergrond informatie over ProcodeX
                </p>
            </article>

            <!-- Knop naar contact pagina -->
            <a href="">Contact pagina</a>

            <!-- Knop naar Portfolio -->
            <a href="">Portfolio bekijken</a>

        </section>

    </main>
</html>