<!doctype html>
<html>
<main class="mainportfoliobeheer">

    <section class="sectionpaginatitelbeheer">

        <article class="articlepaginatitelbeheer ">

            <!-- pagina titel -->
            <h2>Bekijk ons portfolio</h2>

        </article>

    </section>

    <div class="contentsectionbeheer">

        <section class="sectionnieuwprojectbeheer">

            <article class="articlenieuwprojectbeheer">

                <!-- Knop naar contact pagina -->
                <a  class="knopnieuwprojecpag" href="">Nieuw project</a>

            </article>

        </section>




        <!-- Sectie project/ moet via php automatisch worden aangemaakt -->
        <section class="sectionarticleprojectbeheer">

            <article class="articleprojectbeheer">

                        <span class="titelprojectbeheer">
                        <h3>Project titel</h3>
                        </span>

                <!-- Knop naar contact pagina / moet id in url komen zodat pagina zichtbaar word & "over betreffend project"-->
                <span class="knopnaarprojectspanbeheer">
                        <a class="knopinfobeheer" href="e">Project bewerken</a>
                            </span>
            </article>



        </section>





    </div>

</main>
</html>
