<!doctype html>
<html>
    <main>

        <!-- pagina titel -->
        <h2>Pagina titel</h2>

        <!-- Nieuw project aanmaken, moet dus input pagina komen achter deze knop -->
        <a>Nieuw project</a>

        <!-- Sectie project/ moet via php automatisch worden aangemaakt -->
        <section>

            <!-- Project titel / komt uit database -->
            <h3>Project titel</h3>

            <!-- Knop naar contact pagina / moet id in url komen zodat pagina zichtbaar word & "over betreffend project"-->
            <a href="e">Meer informatie</a>

        </section>

    </main>
</html>