<!doctype html>
<html>


    <!-- pagina titel -->
    <h2>Pagina titel</h2>

    <!-- Filter knop sectie --->
    <section>

        <!-- invulveld welk range je wilt filteren --->
        <input type="date">

        <!-- Knop om filter te bevestigen --->
        <button>Filter</button>

    </section>

    <!-- Sectie project/ moet via php automatisch worden aangemaakt -->
    <section>

        <!-- Project titel / komt uit database -->
        <h3>Project titel</h3>

        <!-- Knop naar contact pagina / moet id in url komen zodat pagina zichtbaar word & "over betreffend project"-->
        <a href="e">Meer informatie</a>
        
    </section>

    <!-- Knop naar contact pagina -->
    <a href="">Contact pagina</a>

</html>